{% extends "base.html" %}
{% load static %}

{% block title %}Albums{% endblock %}

{% block main %}
<div style="max-width:640px;margin:2em auto">
{% for album in albums %}
<div style="max-width:300px;float:left;margin:10px">
    <a href="{% url 'single_album' album.id %}">
            {% if album.image_file %}
        <img src="{{ album.image_file.url }}" alt="{{ album.title }}" class="album_cover" />
    {% elif album.image_path %}
        <img src="{% static album.image_path %}" alt="{{ album.title }}" class="album_cover" />
        {% else %}
        <img src="{% static album.title|slugify %}.jpg" alt="{{ album.title }}" class="album_cover">
        {% endif %}

    </a>
    <p style="text-align:center"><a href="{% url 'single_album' album.id %}">{{ album.title.upper }}</a></p>
</div>
{% endfor %}
</div>
{% endblock %}