{% extends "base.html" %}
{% load static %}

{% block title %}Albums{% endblock %}

{% block main %}
<div class="album_detail">
    {% if album.image_file %}
        <img src="{{ album.image_file.url }}" alt="{{ album.title }}" class="single_album_cover" />
    {% elif album.image_path %}
        <img src="{% static album.image_path %}" alt="{{ album.title }}" class="single_album_cover" />
        {% else %}
        <img src="{% static album.title|slugify %}.jpg" alt="{{ album.title }}" class="single_album_cover">
        {% endif %}
    <h2 style="text-align:center"><a href="{% url 'single_album' album.id %}">{{ album.title.upper }}</a></h2>
    <ul style="padding:20px;list-style-type:none">
    {% for track in album.tracklisting %}
        <li>{{ track.sort_order}}.
            <a href="{% url 'single_track' track.id %}">{{ track.song_title.upper }}</a> ({{ track.song_length }})
            <a href="{% url 'single_track' track.id %}">View details</a>
        </li>
    {% endfor %}
    </ul>
    <div style="padding:0 20px 20px">
        <h3>PERSONNEL</h3>
        {% for contributor in contributors %}
            {{ contributor.name.upper }}<br />
        {% endfor %}

    </div>
</div>
{% endblock %}
