{% extends "base.html" %}
{% load static %}

{% block title %}Albums{% endblock %}

{% block main %}
<div class="album_detail">
    {% if album.image_file %}
        <img src="{{ album.image_file.url }}" alt="{{ album.title }}" class="single_album_cover" />
    {% elif album.image_path %}
        <img src="{% static album.image_path %}" alt="{{ album.title }}" class="single_album_cover" />
        {% else %}
        <img src="{% static album.title|slugify %}.jpg" alt="{{ album.title }}" class="single_album_cover">
        {% endif %}
    <h2><a href="{% url 'single_album' album.id %}">{{ album.title.upper }}</a></h2>
    <h3>{{ album.artist.upper }}</h3>


    <table style="width:100%;display:block;margin: 2em auto;">
    {% for track in album.tracklisting %}
        <tr><td>{{ track.sort_order}}.</td>
            <td>
            <a href="{% url 'single_track' track.id %}">{{ track.song_title.upper }}</a></td>
            <td style="padding-left:5px">({{ track.song_length }})</td>
        </tr>
    {% endfor %}
    </table>
    <div class="personnel">
        <h3>PERSONNEL</h3>
        {% for contributor in contributors %}
            {{ contributor.name.upper }}<br />
        {% endfor %}
    </div>
    <div class="personnel">
        <h3>TAGS</h3>
        {% for tag in album.tags.all %}
            <a href="{% url 'albums_by_tag' tag.tag_slug %}">{{ tag.tag_name.upper }}</a><br />
        {% endfor %}
    </div>
    <div class="personnel">

        {{ album.description|safe }}

    </div>
</div>
{% endblock %}
