{% extends "base.html" %}

{% block title %}Albums{% endblock %}

{% block main %}
<div style="max-width:610px;margin:2em auto">
{% for track in tracks%}
<div style="border-bottom:1px solid #444; padding: 1em">
    <h3>{{ track.song_title.upper }}</h3>
    <p><a href="{% url 'single_album' track.album.id %}">{{ track.album.title.upper }}</a>
    ({{ track.album.release_date }})</p>
    <h4>PERSONNEL</h4>
    {% for c in track.contributors %}
        {{ c.contributor.name }}: {{ c.credit }}<br />
    {% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}