{% extends "base.html" %}

{% block title %}Albums{% endblock %}

{% block main %}
<div style="max-width:610px;margin:2em auto">
{% for track in tracks%}
<div style="border-bottom:1px solid #444; padding: 1em">
    <h3>{{ track.song_title.upper }}</h3>

    <h4>ALBUM</h4>
    <p>{{ track.album.artist.upper }} - <a href="{% url 'single_album' track.album.id %}">{{ track.album.title.upper }}</a>
    ({{ track.album.release_date.upper }})</p>
    <p>TRACK {{ track.sort_order }} </p>
    <h4>TAGS</h4>
    {% for tag in track.tags.all %}
        <a href="{% url 'tracks_by_tag' tag.tag_slug %}">{{ tag.tag_name.upper }}</a><br />
    {% endfor %}

</div>
{% endfor %}
</div>
{% endblock %}